In [1]:
import pandas as pd
from datetime import datetime

In [2]:
response_data = {
    "coins": {
        "coingecko:bitcoin": {
            "symbol": "BTC",
            "confidence": 0.99,
            "prices": [
                {"timestamp": 1698831002, "price": 34437},
                {"timestamp": 1698917400, "price": 35335},
                {"timestamp": 1699003805, "price": 34327.26696857593},
                {"timestamp": 1699090232, "price": 34811.59537996894},
                {"timestamp": 1699176633, "price": 35087.13001564083},
                {"timestamp": 1699263026, "price": 35065},
                {"timestamp": 1699349426, "price": 34862},
                {"timestamp": 1699435824, "price": 35294},
                {"timestamp": 1699522229, "price": 36710},
                {"timestamp": 1699608620, "price": 36493},
                {"timestamp": 1699695025, "price": 37070},
                {"timestamp": 1699781433, "price": 37101.15085522806},
                {"timestamp": 1699867824, "price": 37013},
                {"timestamp": 1699954236, "price": 36626.93037215622},
                {"timestamp": 1700040629, "price": 35931.54401882757},
                {"timestamp": 1700127022, "price": 37417},
                {"timestamp": 1700213425, "price": 36365},
                {"timestamp": 1700299830, "price": 36439.65928002305},
                {"timestamp": 1700386226, "price": 36658},
                {"timestamp": 1700472625, "price": 37191},
                {"timestamp": 1700559015, "price": 37395.05304727799},
                {"timestamp": 1700645429, "price": 36528},
                {"timestamp": 1700731816, "price": 37481},
                {"timestamp": 1700818229, "price": 37554.23049974679},
                {"timestamp": 1700904621, "price": 37739},
                {"timestamp": 1700991022, "price": 37796},
                {"timestamp": 1701077434, "price": 37436.05236688195},
                {"timestamp": 1701163820, "price": 37028},
                {"timestamp": 1701250230, "price": 38233},
                {"timestamp": 1701336615, "price": 37729.730640669986}
            ]
        }
    }
}

In [3]:
# Extract Bitcoin prices
bitcoin_data = response_data["coins"]["coingecko:bitcoin"]
bitcoin_prices = bitcoin_data["prices"]

In [4]:
for price in bitcoin_prices:
    price["timestamp"] = datetime.utcfromtimestamp(price["timestamp"]).strftime('%Y-%m-%d %H:%M:%S')

df = pd.DataFrame(bitcoin_prices)

In [5]:
df

              timestamp         price
0   2023-11-01 09:30:02  34437.000000
1   2023-11-02 09:30:00  35335.000000
2   2023-11-03 09:30:05  34327.266969
3   2023-11-04 09:30:32  34811.595380
4   2023-11-05 09:30:33  35087.130016
5   2023-11-06 09:30:26  35065.000000
6   2023-11-07 09:30:26  34862.000000
7   2023-11-08 09:30:24  35294.000000
8   2023-11-09 09:30:29  36710.000000
9   2023-11-10 09:30:20  36493.000000
10  2023-11-11 09:30:25  37070.000000
11  2023-11-12 09:30:33  37101.150855
12  2023-11-13 09:30:24  37013.000000
13  2023-11-14 09:30:36  36626.930372
14  2023-11-15 09:30:29  35931.544019
15  2023-11-16 09:30:22  37417.000000
16  2023-11-17 09:30:25  36365.000000
17  2023-11-18 09:30:30  36439.659280
18  2023-11-19 09:30:26  36658.000000
19  2023-11-20 09:30:25  37191.000000
20  2023-11-21 09:30:15  37395.053047
21  2023-11-22 09:30:29  36528.000000
22  2023-11-23 09:30:16  37481.000000
23  2023-11-24 09:30:29  37554.230500
24  2023-11-25 09:30:21  37739.000000
25  2023-11-26 09:30:22  37796.000000
26  2023-11-27 09:30:34  37436.052367
27  2023-11-28 09:30:20  37028.000000
28  2023-11-29 09:30:30  38233.000000
29  2023-11-30 09:30:15  37729.730641